body {
  background: lightblue;
  }
.imgs {
  width: 300px;
  border-radius: 30px;
  float: right;
}
.list {
float: left;
width: 300px;
background-color: green;
text-align: center;
color: white;
border: 10px groove lightgreen;
padding: 5px;
margin: 10px;
}
